.footer-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  direction: rtl;
}
.footer-3 .footer-3-box {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-3 .footer-3-box .footer-3-part {
  text-decoration: none;
  width: 302px;
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer-3 .footer-3-box .footer-3-part .footer-3-p {
  color: #3f4064;
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 400;
}
.footer-3 .footer-3-box .footer-3-part .footer-3-img {
  width: 56px;
  height: 56px;
}
